fastapi
python-multipart
uvicorn[standard]
python-dotenv
pillow
groq
supabase
google-auth
google-auth-oauthlib
google-api-python-client
langchain-core
langchain-google-genai
langchain-community
google-generativeai
pypdf
python-docx
